@model IEnumerable<UniversityCourseAndResultManagementSystem.Models.Department>

    @{
        ViewBag.Title = "Index";
    }

     <h2>Index</h2>
    <div ng-app="DepartmentListApp">
        <div ng-controller="DepartmentController">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <div class="alert alert-success" role="alert">Total Department: {{CountAllDepartments()}}</div>
            <table class="table table-condensed table-bordered table-striped table-hover table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th class="danger" style="text-align: center">
                            @Html.DisplayNameFor(model => model.DeptCode)
                        </th>
                        <th class="danger" style="text-align: center">
                            @Html.DisplayNameFor(model => model.DeptName)
                        </th>
                        <th class="danger" style="text-align: center">
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="danger" style="text-align: center">
                                @Html.DisplayFor(modelItem => item.DeptCode)
                            </td>
                            <td class="danger" style="text-align: center">
                                @Html.DisplayFor(modelItem => item.DeptName)
                            </td>
                            <td class="danger" style="text-align: center">

                                <a href="@Url.Action("Edit", "Departments", new {id = item.DeptId})">

                                    <span class="glyphicon glyphicon-edit"></span>

                                </a>
                                <a href="@Url.Action("Details", "Departments", new {id = item.DeptId})">
                                    @*<span style="height: 20px;width:20px " class="input-group-addon">*@
                                    <span class="glyphicon glyphicon-th"></span>

                                </a>
                                <a href="@Url.Action("Delete", "Departments", new {id = item.DeptId})">

                                    <span class="glyphicon glyphicon-trash"></span>

                                </a>
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    @section scripts
{
        <script>
            var teacherListApp = angular.module("DepartmentListApp", []);
            teacherListApp.controller("DepartmentController", function ($scope, $http) {
                $scope.allTeachers = [];
                $http.get('@Url.Action("GetAllDepartments", "Departments")').success(function (data) {
                    $scope.allDepartments = data;
                });

                $scope.CountAllDepartments = function () {
                    var countDepartment = 0;
                    angular.forEach($scope.allDepartments, function (aTeacher) {
                        countDepartment++;
                    });
                    return countDepartment;
                }

            });
        </script>
    }


