<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/dataTablesDesigner")
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/swimbi.css" rel="stylesheet" />
</head>
<body style="background:fixed url(https://pcbx.us/bexy.jpg)">
frsgf
<div id="swimbi">
    <ul>
        <li><a data-icon="f015" href="#"> Home </a></li>
        <li>
            <a data-icon="f0f7"> Department </a>
            <ul class="columns">
                <li class="column">
                    <ul>
                        <li><a href="@Url.Action("Create","Departments")" data-icon="f067" class="B" target="_blank"> Department Entry </a></li>
                        <li><a href="@Url.Action("Index","Departments")" data-icon="f06e" href="http://"> View All Department </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a data-icon="f02d"> Course </a>
            <ul>
                <li><a href="@Url.Action("Create","Courses")" data-icon="f067">Course Entry</a></li>
                <li><a data-icon="f080" href="http://"> Course Statistics </a></li>
                <li><a data-icon="f056" href="http://"> Unassign Course</a> </li>
            </ul>
        </li>
        <li>
            <a data-icon="f007">Teaher</a>
            <ul>
                <li><a href="@Url.Action("Create","Teachers")" data-icon="f067"> Teacher Entry </a></li>
                <li><a data-icon="f00c"> Assign Course To Teacher </a></li>
            </ul>
        </li>
        <li>
            <a data-icon="f19d" target="_blank">&nbsp; Student </a>
            <ul>
                <li> <a data-icon="f067" href="@Url.Action("Create","Students")"> Student Entry </a></li>
                <li> <a data-icon="f002" href="@Url.Action("Index","Students")"> Student List </a></li>
                <li> <a data-icon="f045" href="#"> Enroll In Course </a></li>
                <li> <a data-icon="f1ec"> Save Result </a></li>
                <li> <a data-icon="f06e" href="#"> View Result </a></li>
            </ul>
        </li>
        <li>
            <a data-icon="f017" href="#"> Schedule </a>
            <ul>
                <li> <a data-icon="f06e" href="#"> View Class Schedule </a></li>
                <li> <a data-icon="f046" href="#"> Allocate Class Room </a></li>
                <li> <a data-icon="f00d" href="#"> Unallocate Class Room </a></li>
            </ul>
        </li>
        <li><a class="swsearch" href="http://google.com" target="window"><input name="search" type="text"><span class="mglass"></span><span class="slabel">Search</span></a></li>
    </ul>
    <canvas><noscript><img alt="Website Swimbi css for menu drop down" src="http://swimbi.com/img/swbnr1.png"/> swimbi.com. All Rights Reserved</noscript></canvas>
    <div id="ie_message"><noscript>Local test in IE is better if you "<a href="http://f-source.com/swimbi/ie-allow-blocked-content/" target="_blank">Allow blocked content</a>" - click the button below.</noscript>
    </div>
</div>
<br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="../../Image/Slide/SlideImage/1.jpg" alt="Main Campus" title="Main Campus" id="wows1_0"/></li>
            <li><img src="../../Image/Slide/SlideImage/2.jpg" alt="Computer Lab" title="Computer Lab" id="wows1_1"/></li>
            <li><img src="../../Image/Slide/SlideImage/3.jpg" alt="Software Lab" title="Software Lab" id="wows1_2"/></li>
            <li><img src="../../Image/Slide/SlideImage/4.jpg" alt="Our Graduate" title="Our Graduate" id="wows1_3"/></li>
            <li><img src="../../Image/Slide/SlideImage/5.jpg" alt="University Bus" title="University Bus" id="wows1_4"/></li>
            <li><img src="../../Image/Slide/SlideImage/6.jpg" alt="CSE Department" title="CSE Department" id="wows1_5"/></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="Main Campus"><span><img src="../../Image/Slide/SlideImage/1.jpg" alt="Main Campus" />1</span></a>
            <a href="#" title="Computer Lab"><span><img src="../../Image/Slide/SlideImage/2.jpg" alt="Computer Lab" />2</span></a>
            <a href="#" title="Software Lab"><span><img src="../../Image/Slide/SlideImage/3.jpg" alt="Software Lab" />3</span></a>
            <a href="#" title="Our Graduate"><span><img src="../../Image/Slide/SlideImage/4.jpg" alt="Our Graduate" />4</span></a>
            <a href="#" title="University Bus"><span><img src="../../Image/Slide/SlideImage/5.jpg" alt="University Bus" />5</span></a>
            <a href="#" title="CSE Department"><span><img src="../../Image/Slide/SlideImage/6.jpg" alt="CSE Department" />6</span></a>

        </div>
    </div>
    <div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->

<div class="container body-content">
    @RenderBody()
    @*<hr />*@
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/slideScripts")
@Scripts.Render("~/Content/slideStyle")
<script src="~/Scripts/swimbi.js"></script>
@RenderSection("scripts", required: false)
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();

        $('#datepicker').datetimepicker({
           format: 'YYYY-MM-DD'
        });
        CKEDITOR.replace('editor1');
    });
</script>

</body>
</html>
