@model IEnumerable<UniversityCourseAndResultManagementSystem.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreaditToBeTaken)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation.DesignationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreaditToBeTaken)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TeacherId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
                </td>
            </tr>
        }
    </tbody>
</table>
