@model IEnumerable<UniversityCourseAndResultManagementSystem.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        
        <div ng-app="StudentListApp">
    <div ng-controller="StudentController">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="alert alert-success" role="alert">Total Student: {{CountAllStudents()}}</div>
        <table id="example" class="display table table-condensed table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Department.DeptCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegNo)
                    </th>
                    <th>
                        <span>Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DeptCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegNo)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
                                @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })*@

                            <a href="@Url.Action("Edit", "Students", new {id = item.StudentId})">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>|
                            <a href="@Url.Action("Details", "Students", new {id = item.StudentId})">
                                <span class="glyphicon glyphicon-th"></span>
                            </a>|
                            <a href="@Url.Action("Delete", "Students", new {id = item.StudentId})">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

        
        
    }


    
@section scripts
{
    <script>
        var teacherListApp = angular.module("StudentListApp", []);
        teacherListApp.controller("StudentController", function($scope,$http) {
            $scope.allStudents = [];
            $http.get('@Url.Action("GetAllStudents", "Students")').success(function(data) {
                $scope.allStudents = data;
            });

            $scope.CountAllStudents = function() {
                var countStudent = 0;
                angular.forEach($scope.allStudents, function (aStudent) {
                    countStudent++;
                });
                return countStudent;
            }

        });
    </script>
}
